<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246132411452-mji678bl7utlojqvcdulpjv15lk0j8d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246132411452-mji678bl7utlojqvcdulpjv15lk0j8d5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>246132411452-74i8buc8kd0ij8g7mqm23gkkpdv33ot2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTRtq8qz3Hc_4pIsKpk54cdp5lf9mgB9o</string>
	<key>GCM_SENDER_ID</key>
	<string>246132411452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.adorebeauty.shop</string>
	<key>PROJECT_ID</key>
	<string>adore-beauty-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>adore-beauty-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:246132411452:ios:e812d6bd5530a40d534739</string>
	<key>DATABASE_URL</key>
	<string>https://adore-beauty-staging.firebaseio.com</string>
</dict>
</plist>
